
#editor, #pseudocodes, #eval  {
     position: absolute;
     top: 140px;
     /*right: 50%;*/
     bottom: 35px;
     left: 0px;
     width: 50%;
 }

#chat, #hints, #consoles{
  position: absolute;
  top: 140px;
  right: 0px;
  bottom: 35px;
  left: 51%;

}
 div.indicator {
   border-bottom:grey 3px solid;
 }
 #evaluate {
   position: absolute;
   left: 2px;
   bottom: 3px;
   border-radius: 6px;
 }

 #submit_answer{
   position: absolute;
   left: 80px;
   bottom: 3px;
   border-radius: 6px;
 }
 #reset_button{
   position: absolute;
   left: 200px;
   bottom: 3px;
   border-radius: 6px;

 }
 ::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 7px;
 }
 ::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background-color: rgba(0,0,0,.5);
     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
 }
#eval{
  overflow-y: scroll;
  overflow-x: scroll; 
}
 #modes{
   position: absolute;
   left: 80px;
   bottom: -20px;
   border-radius: 6px;
 }
#assignments{
  overflow: -moz-scrollbars-vertical;
  height: 100px;
  overflow-y: scroll;
}
#show_timers{

  height:5%;
  background-color:lightgrey;
  margin-top:0px;
  border-top:0px;
}
.row{
  margin-bottom:0px;
}
.column{
  margin: 0px;
}
p{
  margin: 1px;
}
