<script src = "static/materialize/js/materialize.min.js"> </script>
<link rel="stylesheet" href="static/materialize/css/materialize.min.css">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script> -->
<link rel="stylesheet" href="static/css/main.css">
<div class ="row">
  <h4>SCORE: <span ng-bind = "user.total_stars( admin.algo_search)"></span>/<span ng-bind = "user.possible_stars( admin.algo_search);"></span> </h4>
</div>
<p>Most of these algorithms will take you anywhere from 20 minutes to 1 hour to complete.  The challenge algorithms might take you longer.  Practice one algorithm every day and we strongly encourage you to work with other people.</p>
<div class = "row">
  <div class = "col s4 offset-s1">
  <input placeholder = "Search Algorithms" id = "algo_search" ng-model = "admin.algo_search" type = "text">
</div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s2">
        <a class = "blue-text" id = "intermediate_tab" href="#beginner">beginner</a>
      </li>
      <li class="tab col s2">
        <a class = "blue-text" id = "intermediate_tab" href="#intermediate">intermediate</a>
      </li>
      <li class="tab col s1">
        <a class = "blue-text"id = "advanced_tab" href="#advanced" >advanced</a>
      </li>
      <li class="tab col s2">
        <a class = "blue-text" id = "challenge_tab" href="#challenge">challenge</a>
      </li>
      <li class="tab col s2">
        <a class = "blue-text" id = "badges_tab" href="#badges">badges</a>
      </li>
    </div>
    <div class="col s12" id = "beginner">
      <div class="row">
        <div ng-repeat = "algo in algorithm.algorithms | filter:admin.algo_search | orderBy:'title'">
      <!-- algo.name -->
      <div ng-if = "algo.difficulty == 0">

              <div class="col s12 m4">
                <div class="card blue-grey lighten-1 tiny ">
                  <p class="card-title red-text text-darken-3 center-align" ng-bind = "algo.title"> </p>
                  <div class="card-content white-text left-align custom">

                    <p class="card-content center-align" ng-if = "user.algorithm_unlocked(algo._id) == -1;">Locked </p>
                    <div  ng-if = "user.algorithm_unlocked(algo._id) !== -1 && user.algo_up_to_date(algo.updated_at, algo._id)">
                      <p class="card-content center-align no_margin"> Time Left: <span ng-bind = "user.is_algorithm(algo._id).time_spent | duration"></span></p>
                      <p class="card-content center-align no_margin"> Try in: <span ng-bind = "user.is_algorithm(algo._id).time_to_resubmit | duration" ></span></p>

                      <p class="card-content center-align">
                        <span ng-repeat = "t in user.number_of_times(user.is_algorithm(algo._id).score) track by $index"><i class="material-icons yellow-text text-lighten-2">stars</i></span>
                      </p>

                      </div>
                  </div>
                  <div class="card-action center-align ">

                    <a ng-if = "user.algorithm_unlocked(algo._id) == -1;" href="#/algorithms" ng-click = "algorithm.show_algorithm_html(algo); user.initiate_algorithm(user.user._id, algo)" ><i class="mdi-action-lock-outline left"></i>Unlock</a>
                    <a ng-if = "user.algorithm_unlocked(algo._id) != -1 && user.is_algorithm(algo._id).time_to_resubmit !== 0 && user.algo_up_to_date(algo.updated_at, algo._id)" class = "center-align">Study Up!</a>
                    <a ng-if = "user.algorithm_unlocked(algo._id) != -1 &&  user.algo_up_to_date(algo.updated_at, algo._id) && user.is_algorithm(algo._id).time_to_resubmit == 0 && user.algo_up_to_date(algo.updated_at, algo._id)" href="#/challenges/{{algo._id}}" ng-click = "algorithm.show_algorithm_html(algo, user.algorithm_unlocked(algo._id)); user.set_active_algorithm(algo._id)" class = "center-align">Attempt</a>

                    <a ng-if = "!user.algo_up_to_date(algo.created_at, algo._id)" ng-click = "user.algorithm_reunlock(algo)" class = "center-align">Updated, ReUnlock</a>
                  </div>
                </div>
              </div>
      </div>
            </div>
          </div>
    </div>


      <div class="col s12" id = "intermediate">
        <div class="row">
          <div ng-repeat = "algo in algorithm.algorithms | filter:admin.algo_search | orderBy:'title'">
        <!-- algo.name -->
        <div ng-if = "algo.difficulty == 1">

                <div class="col s12 m4">
                  <div class="card blue-grey darken-1 tiny">
                    <div class="card-content white-text left-align">
                      <p class="card-content  yellow-text center-align" ng-bind = "algo.title"> </p>
                      <p class="card-content center-align" ng-if = "user.algorithm_unlocked(algo._id) == -1;">Locked </p>
                      <div  ng-if = "user.algorithm_unlocked(algo._id) !== -1 && user.algo_up_to_date(algo.updated_at, algo._id)">
                        <p class="card-content center-align"> Time Left To Solve: <span ng-bind = "user.is_algorithm(algo._id).time_spent | duration"></span></p>
                        <p class="card-content center-align"> Next Attempt In: <span ng-bind = "user.is_algorithm(algo._id).time_to_resubmit | duration" ></span></p>

                        <p class="card-content center-align">
                          <span ng-repeat = "t in user.number_of_times(user.is_algorithm(algo._id).score) track by $index"><i class="material-icons">stars</i></span>
                        </p>

                        </div>
                    </div>
                    <div class="card-action center-align">

                      <a ng-if = "user.algorithm_unlocked(algo._id) == -1;" href="#/algorithms" ng-click = "algorithm.show_algorithm_html(algo); user.initiate_algorithm(user.user._id, algo)" class="waves-effect waves-light btn"><i class="mdi-action-lock-outline left"></i>Unlock</a>
                      <a ng-if = "user.algorithm_unlocked(algo._id) != -1 && user.is_algorithm(algo._id).time_to_resubmit !== 0 && user.algo_up_to_date(algo.updated_at, algo._id)" class = "center-align">Study Up!</a>
                      <a ng-if = "user.algorithm_unlocked(algo._id) != -1 &&  user.algo_up_to_date(algo.updated_at, algo._id) && user.is_algorithm(algo._id).time_to_resubmit == 0 && user.algo_up_to_date(algo.updated_at, algo._id)" href="#/challenges/{{algo._id}}" ng-click = "algorithm.show_algorithm_html(algo, user.algorithm_unlocked(algo._id)); user.set_active_algorithm(algo._id)" class = "center-align">Attempt</a>

                      <a ng-if = "!user.algo_up_to_date(algo.created_at, algo._id)" ng-click = "user.algorithm_reunlock(algo)" class = "center-align">Updated, ReUnlock</a>
                    </div>
                  </div>
                </div>
        </div>
              </div>
            </div>
      </div>

      <div class="col s12" id = "advanced">
        <div class="row">
          <div ng-repeat = "algo in algorithm.algorithms | filter:admin.algo_search | orderBy:'title'">
        <!-- algo.name -->
        <div ng-if = "algo.difficulty == 2">

                <div class="col s12 m4">
                  <div class="card blue-grey darken-1 tiny">
                    <div class="card-content white-text left-align">
                      <p class="card-content  yellow-text center-align" ng-bind = "algo.title"> </p>
                      <p class="card-content center-align" ng-if = "user.algorithm_unlocked(algo._id) == -1;">Locked </p>
                      <div  ng-if = "user.algorithm_unlocked(algo._id) !== -1 && user.algo_up_to_date(algo.updated_at, algo._id)">
                        <p class="card-content center-align"> Time Left To Solve: <span ng-bind = "user.is_algorithm(algo._id).time_spent | duration"></span></p>
                        <p class="card-content center-align"> Next Attempt In: <span ng-bind = "user.is_algorithm(algo._id).time_to_resubmit | duration" ></span></p>

                        <p class="card-content center-align">
                          <span ng-repeat = "t in user.number_of_times(user.is_algorithm(algo._id).score) track by $index"><i class="material-icons">stars</i></span>
                        </p>

                        </div>
                    </div>
                    <div class="card-action center-align">

                      <a ng-if = "user.algorithm_unlocked(algo._id) == -1;" href="#/algorithms" ng-click = "algorithm.show_algorithm_html(algo); user.initiate_algorithm(user.user._id, algo)" class="waves-effect waves-light btn"><i class="mdi-action-lock-outline left"></i>Unlock</a>
                      <a ng-if = "user.algorithm_unlocked(algo._id) != -1 && user.is_algorithm(algo._id).time_to_resubmit !== 0 && user.algo_up_to_date(algo.updated_at, algo._id)" class = "center-align">Study Up!</a>
                      <a ng-if = "user.algorithm_unlocked(algo._id) != -1 &&  user.algo_up_to_date(algo.updated_at, algo._id) && user.is_algorithm(algo._id).time_to_resubmit == 0 && user.algo_up_to_date(algo.updated_at, algo._id)" href="#/challenges/{{algo._id}}" ng-click = "algorithm.show_algorithm_html(algo, user.algorithm_unlocked(algo._id)); user.set_active_algorithm(algo._id)" class = "center-align">Attempt</a>

                      <a ng-if = "!user.algo_up_to_date(algo.created_at, algo._id)" ng-click = "user.algorithm_reunlock(algo)" class = "center-align">Updated, ReUnlock</a>
                    </div>
                  </div>
                </div>
        </div>
              </div>
            </div>
      </div>

<!-- THIS  NEEDS WORK -->
      <div class="col s12" id = "challenge">
        <div class="row">
            <div ng-repeat = "algo in algorithm.algorithms | filter:admin.algo_search | orderBy:'title'">
        <!-- algo.name -->
        <div ng-if = "algo.difficulty == 3">

                <div class="col s12 m2">
                  <div class="card blue-grey darken-1 tiny">
                    <div class="card-content white-text left-align">
                      <p class="card-content center-align" ng-bind = "algo.title"> </p>
                    </div>
                    <div class="card-action center-align">
                      <a href="#/challenges/{{algo._id}}" ng-click = "algorithm.show_algorithm_html(algo)" class = "center-align">Try It</a>
                    </div>
                  </div>
                </div>
        </div>
              </div>
            </div>

<!-- THIS  NEEDS WORK -->
        </div>
      <div class="col s12" id = "badges">Badges</div>
  </div>
